<div style="text-align: center; padding: 50px;">
    <h1>Tulipmania 3</h1>
    <button mat-button style="width: 100%; line-height: 50px; font-size: 25px; margin-top: 5px; margin-bottom: 5px;">Start</button>
    <button mat-button style="width: 100%; line-height: 50px; font-size: 25px; margin-top: 5px; margin-bottom: 5px;">Help</button>
    <button mat-button style="width: 100%; line-height: 50px; font-size: 25px; margin-top: 5px; margin-bottom: 5px;">Settings</button>
    <button mat-button style="width: 100%; line-height: 50px; font-size: 25px; margin-top: 5px; margin-bottom: 5px;">More Information</button>
</div>