body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: #fff0e0;
    overflow-y: hidden;
    font-family: 'Marcellus SC', serif;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 8vw;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 50px;
}

p {
    font-family: 'Marcellus SC', serif;
}

@import '~@angular/material/theming';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@include mat-core();

$my-app-primary: mat-palette($mat-green, 400, 700, A300);
$my-app-accent: mat-palette($mat-green, 300, 600, A100);
$my-app-warn: mat-palette($mat-red, 500, 900, A100);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.mat-form-field {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: left;
}

.mat-icon-button {
    height: 25px !important;
    width: 25px !important;
    line-height: 25px !important;
}

.mat-dialog-title {
    margin: 0 0 5px !important;
}

.mat-dialog-actions {
    display: block !important;
}

.mat-button {
    font-family: 'Marcellus SC', serif;
}


.info-snackbar {
    background-color: rgba(62, 191, 168, 0.75);
    color: white;
    font-family: sans-serif;
    font-size: 13px;
}

.success-snackbar {
    background-color: rgba(6, 188, 90, 0.75);
    color: white;
    font-family: sans-serif;
    font-size: 13px;
}

.warning-snackbar {
    background: rgba(249, 122, 31, 0.75);
    color: white;
    font-family: sans-serif;
    font-size: 13px;
}

.error-snackbar {
    background-color: rgba(255, 0, 0, 0.74);
    color: white;
    font-family: sans-serif;
    font-size: 13px;
}

.mat-simple-snackbar-action {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.cdk-overlay-container {
    position: fixed;
    z-index: 2000;
}

[class*="col-"] {
    float: left;
    overflow: hidden;
}
  
  $class-col: col !default;
  
@for $i from 1 through 12 {
    .#{$class-col}-#{$i} {
      width: $i / 12 * 100%;
    }
  
    .#{$class-col}-offset-#{$i} {
      margin-left: $i / 12 * 100%;
    }
}

.container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
.pull-right {
    float: right;
}